*{
    margin: 0;
    box-sizing: border-box;
    line-height: 1.8rem;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
     
}

img{
    max-width: 100%;
    height: auto;
          
} 

p{
    margin-bottom: 1.8rem;
}

a{
    color: $mainOrange;
}