
.wrapper{

    padding-left: 18px;
    padding-right: 18px; 
    max-width: 1036px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
    &--medium{
        max-width: 976px;
    }
    
    .wrapper{
        padding-left: 0;
        padding-right: 0; 
    }
    
    @mixin atSmall{
        margin-bottom: 3.875rem;
    }
    &--b-margin{
        margin-bottom: 1rem;
    }
}